.heart-button {
    height: 100%;
    text-align: center;
    font-size: inherit;
    cursor: pointer;

    &.liked {
        animation: liked .4s ease;
        color: var(--bs-primary) !important;
    }

    &.unliked {
        animation: unliked .3s ease;
        color: inherit;
    }
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes unliked {
    0% {
        transform: rotate(18deg);
    }
    33% {
        transform: rotate(-12deg);
    }
    66% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}