.video-link-input {
    .input-group-text {
        background-color: white;
        border-left-color: transparent;
        padding-left: 0px;
        padding-right: 12px;

        p {
            display: inline;
        }

        svg {
            color: var(--bs-gray-400);
            font-size: 32px;
            position: relative;
            height: 100%;
            text-align: center;
            cursor: pointer;
        }

        &.error {
            border-top-color: var(--bs-danger);
            border-bottom-color: var(--bs-danger);
        }
    }

    .input-group button {
        padding: 0 25px;
    }
}
